<p id="notice"><%= notice %></p>

<h1>Estudiantes</h1>

<table>
  <thead>
    <tr>
      <th>Idcard</th>
			<th>Nombre</th>
			<th>Apellidos</th>
			<th>Regimen</th>
      <th>Indice Academico</th>
			<th>Nivel</th>
			<th>Cronograma</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @estudiantes.each do |estudiante| %>
      <tr>
        <td><%= estudiante.idcard %></td>
				<td><%= estudiante.name %></td>
				<td><%= estudiante.apellidos %></td>
				<td><%= estudiante.regimen %></td>
        <td><%= estudiante.acaindex %></td>
				<td><%= estudiante.level %></td>
				<td><%= estudiante.chronogram.fecha.strftime("%m/%d/%Y") %> desde las <%= estudiante.chronogram.start_time.strftime("%H:%M %Z") %> hasta <%= estudiante.chronogram.end_time.strftime("%H:%M %Z") %> </td>
        <td><%= link_to 'Show', estudiante %></td>
        <td><%= link_to 'Edit', edit_estudiante_path(estudiante) %></td>
        <td><%= link_to 'Destroy', estudiante, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Estudiante', new_estudiante_path %>
