<p id="notice"><%= notice %></p>

<p>
  <strong>Idcard:</strong>
  <%= @estudiante.idcard %>
</p>

<p>
  <strong>Name:</strong>
  <%= @estudiante.name %>
</p>

<p>
  <strong>Acaindex:</strong>
  <%= @estudiante.acaindex %>
</p>

<p>
  <strong>Level:</strong>
  <%= @estudiante.level %>
</p>

<%= link_to 'Edit', edit_estudiante_path(@estudiante) %> |
<%= link_to 'Back', estudiantes_path %>
